.wrapper {
  padding: 0;
  margin: 0;

  :global(.ant-table) {
    table {
      font-size: 12px;
    }
  }

  :global(.ant-table-tbody .ant-table-cell) {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }

  .desc {
    color: gray;
    max-width: 92px;
    padding: 0 7px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    :global(span) {
      margin-left: 4px;
    }
  }

  :global {
    footer {
      position: fixed;
      bottom: 2px;
      right: 2px;
      font-size: 12px;
      padding: 4px;
      z-index: 0;
    }
  }
}
